<footer>
  <h2 class="teste">AuraTrip</h2>
  <h3 class="teste">Siga-nos em nossas redes sociais</h3>

  <p>
    <a
      title="Facebook Auratrip"
      href="https://facebook.com"
      target="_blank"
    ></a>
    <a
      title="Instagram Auratrip"
      href="https://instagram.com/auratrip_"
      target="_blank"
    ></a>
    <a title="Tiktok Auratrip" href="https://tiktok.com" target="_blank"></a>
  </p>
</footer>
<div class="copyright">
  <p>&copy; Auratrip - Todos os Direitos Reservados</p>
</div>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
